<h1 class="page-header">Instruções</h1>

<div class="col-md-12">
  <div class="panel panel-default ">
    <div class="panel-heading">
      Instrução
    </div>
    <div class="panel-body">

        <strong>Texto:</strong>
        <div class="question-description">
          <%=raw @instruction.description %>
        <div>
      </p>


      </div>
    </div>




      <%= link_to 'Editar', edit_backoffice_instruction_path(@instruction), class: "btn btn-outline btn-primary" %>
      <%= link_to 'Excluir', backoffice_instruction_path(@instruction),  class: "btn btn-outline btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
</div>
