<p id="notice"><%= notice %></p>

<p>
  <strong>Current page:</strong>
  <%= @student_book.current_page %>
</p>

<p>
  <strong>Book:</strong>
  <%= @student_book.book.level.couse_level_title %>
</p>

<p>
  <strong>Student:</strong>
  <%= @student_book.student.name %>
</p>

