
<h1 class="page-header">Páginas</h1>

    <div class="col-md-12">

        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Título</th>
                        <th>Corpo</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <% @pages.each do |page| %>
                        <tr>
                            <td><%= page.id %></td>
                            <td><%= page.title %></td>
                            <td><%= page.body %></td>
                            <td>
                                <%= link_to backoffice_page_path(page), class: "btn btn-default btn-circle" do %>
                                    <i class="fa fa-search"></i>
                                <% end %>
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
