<% unless level.paths.exists? %>
    <div class="no-path">
        <p class="">Ainda não existem lições cadastradas. 
        Aguarde um pouco e em breve você poderá praticar!</p>
    </div>
<% end %>