<div class="container-fluid" id="nav-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light">test
        <%# link_to root_path, :class => "navbar-brand" do%>
            <%# image_tag("logo-indeva.png", :class => "img-fluid", size: "140x80") %>
        <%# end %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%# link_to  "Lojas", stores_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%# link_to  "Vendedores", salesmen_path, :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%# link_to  "Metas", goals_path, :class => "nav-link" %>
          </li>
        </ul>
        <% if franchisor_signed_in?%>
            <div class="ml-auto">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= current_franchisor.email %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <%= link_to "Sair", destroy_franchisor_session_path, :class => "nav-link dropdown-item",  method: :delete  %>
                    </div>
                </div>
            </div>
        <% end %>
      </div>
    </nav>
</div>
        