<div class="nested-fields">

  <div class="field form-group">
    <%= f.label "Opção de resposta" %>
    <%= f.text_field :student_answer, class: "form-control" %>
  </div>
  
  <div class="col-md-12  ">
    <%= link_to_remove_association "Remover resposta", f %>
  </div>
 
  <br> <br> <hr>
</div>