$nav-blue: #03b8cb;
$soft-blue: #1ad4ff;
$soft-green: #05c99a;
$soft-grey: #e8e8e8;
$dark-grey: #979b9e;
$white: #ffffff;

$blue-gradiente: #03b8cb;
$green-gradiente: #5fdb85;
$yellow-gradiente: #bcff3f;
