<h1>Editing Audio Version</h1>

<%= render 'form', weekly_challenge_bank_question: @weekly_challenge_bank_question,  path: backoffice_weekly_challenge_bank_question_path %>
<br>
<%= link_to 'Back', backoffice_weekly_challenge_bank_questions_path %>
